.App {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  padding-bottom: 2%;
}
img:hover {
  cursor: pointer;
}
img:checked {
  border: 1px solid gray;
}
.currentPhoto {
  border-radius: 25px;
  padding: 20px;
  height: 500px;
  width: 500px;
  display: center;
}

.currentPhoto :hover {
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.smallerPhotos {
  border-radius: 25px;
  padding: 20px;
  height: 100px;
  width: 100px;
  display: center;
}
#Navbar {
  list-style-type: none;
  margin: 0;
  padding: 0%;
  overflow: hidden;
  background-color: #333333;
  color: white;
}
#Navbar .tab:hover {
  background-color: lightgray;
  color: #333333;
}

.breadcrumb-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.breadcrumb-list li {
  margin: 0;
  padding: 0;
  font-size: 12px;
  float: left;
  text-transform: none;
}
.breadcrumb-list li a {
  display: block;
  color: #333333;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
li a::after {
  content: " >";
  color: gray;
}
.breadcrumb-list li a span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.productDetail {
  text-align: left;
}

p a {
  font-size: 12px;
  color: black;
  float: left;
  text-align: center;
  text-decoration: none;
  cursor: auto;
}

h5 {
  color: red;
}

.addToCart {
  height: 40px;
  width: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.modalText {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 20px;
}
